.pairs {
  display: flex;
  background-color: #f5f5f5;
  border: 2px solid black;
  font-size: 1.5rem;
  border-radius: 1rem;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
}

.resetButton {
  border: 1px solid black;
  border-radius: 20px;
  margin-top: 0.5rem;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
}